.confirm {
			height: 40px;
			width: 130px;
}


table {
			border-collapse: collapse;
			width: 100%;
			border: none;
}

td {
			padding: 6px;
}

td:nth-child(odd) {
			padding-bottom: 20px
}

tr.name, tr.name td {
			border-style: solid;
			border-color: #CACACA #CACACA #E9E9E9;
}

tr.email, tr.email td {

			border-style: solid;
			border-color: #FFFFFF #CACACA #CACACA;
}



tr.space, tr.space td {

			height: 7px;
			padding: 0;
			background-color: #ffffff;
			border: none;
}
