.confirm {
			height: 40px;
			width: 130px;
}


table {
			border-collapse: collapse;
			width: 100%;
			border: none;
}

td {
			padding: 6px;
}

td:nth-child(odd) {
			padding-bottom: 20px
}

tr.name td {
			border-style: solid;
			border-color: #CACACA #CACACA #FFFFFF #D9D9D9;
}

tr.email td {

			border-style: solid;

			border-color: #FFFFFF #CACACA #CACACA #D9D9D9;
}

tr.space, tr.space td {

			height: 7px;
			padding: 0;
			background-color: #ffffff;
}
